# Streamlit
streamlit

# FastAPI
fastapi
uvicorn

# LangChain Core
langchain
langchain-core
langchain-community

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Vector Store & Utilities
faiss-cpu
pydantic
tqdm
pypdf
aiofiles
aiohttp